.panel-group .panel-body table.generaltable {
    font-size: 14px !important;
}

#pb {
   background-image: none !important; 
   background-color: #86b1d6 !important;
}

a.username {
    margin-left: 4%;
    cursor: pointer;
}



.panel-group {
    margin-bottom: 0px !important;
    width: 90%;
    margin: 10px auto;
}

.sctn{
    margin: 0px auto;
}


.user {
    margin-top: 30px;
}
/*estilo colapse*/
.panel-collapse{
       display: none;
}

/*estilos leyenda*/

.legend {
    margin-bottom: 60px;
    margin-right: 5.3%;
}

.legend ul {
    float: right;
    padding: 0;
    margin: 0;
}

.legend ul li span {
    display: inline-block;
    vertical-align: middle;
    line-height: 2rem;
}

.legend ul li {
    list-style: none;
    padding-left: 2rem;
    font-size: 1.6rem;
    line-height: 2rem;
    display: inline-block;
}

.legend ul li .color {
    border-radius: 50%;
    margin-right: 2px;
    width: 11px;
    height: 11px;
}

 .legend ul li.finished {
    color: #333333;
}
 

 .legend ul li.finished .color {
    background: #333333;
} 
 

 .legend ul li.in-progress {
    color: #12bd12;
}

.legend ul li.in-progress .color {
    background: #12bd12;
}

 .legend ul li.update {
    color: #3566c7;
}

.legend ul li.update .color {
    background: #3566c7;
} 

.legend ul li.deleted {
    color: #e20000;
}

.legend ul li.deleted .color {
    background: #e20000;
}

 
.panel-body.datos {
    padding: 0px !important;
}

/*datos cursos hijos*/
.unsync {
    width: 88%;
    margin: 10px auto;
    display: none;
}
.list-group {
    width: 80%;
}

span.badge.list {
    margin-right: 3%;
}

.child {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 12px;	
}

.btnn {
    width: 37%;
    margin-left: 76%;
}

/**tabla dashboard*/

.sectn .generaltable td.cell.c0 {
    width: 70%;
}

.sectn .generaltable td.cell.c1 {
    width: 30%;
}
.user .generaltable td.cell.c2.lastcol {
    text-align: center;
}
.user .generaltable td.cell.c0 {
    width: 40%;
}

.user .generaltable td.cell.c1 {
    width: 25%;
}
.user .generaltable td.cell.c2 {
    width: 35%;
}

.user th.header.c2, .user th.header.c1 {
    text-align: center;
}

.user td.cell.c1 {
    text-align: center;
}